@model PaginatedSearchViewModel<AdminUserListingServiceModel>

@{
	ViewData["Title"] = "User Administration";
}

<h2>@ViewData["Title"]</h2>
<hr />

@Html.Partial("_Search", Model.SearchTerm)

<table class="table table-striped table-responsive table-hover">
	<thead>
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>Admin</th>
			<th>Uploader</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model.PageInfo.Items)
		{
			<tr>
				<td>@user.Username</td>

				<td>@user.Email</td>

				<td>
					@{
						bool isAdmin = user.Roles.Any(r => r == AdministratorRole);
					}

					<form method="POST">
						@if (isAdmin)
						{
							<button type="submit"
									asp-action="RemoveFromRole"
									asp-route-page="@Model.PageInfo.Current"
									asp-route-searchTerm="@Model.SearchTerm"
									class="btn btn-primary">
								Yes
							</button>
							<input type="hidden" name="userId" value="@user.Id" />
							<input type="hidden" name="role" value="@AdministratorRole" />
						}
						else
						{
							<button type="submit"
									asp-action="AddToRole"
									asp-route-page="@Model.PageInfo.Current"
									asp-route-searchTerm="@Model.SearchTerm"
									class="btn btn-warning">
								No
							</button>
							<input type="hidden" name="userId" value="@user.Id" />
							<input type="hidden" name="role" value="@AdministratorRole" />
						}
					</form>
				</td>

				<td>
					@{
						bool isUploader = user.Roles.Any(r => r == UploaderRole);
					}

					<form method="POST">
						@if (isUploader)
						{
							<button type="submit"
									asp-action="RemoveFromRole"
									asp-route-page="@Model.PageInfo.Current"
									asp-route-searchTerm="@Model.SearchTerm"
									class="btn btn-primary">
								Yes
							</button>
							<input type="hidden" name="userId" value="@user.Id" />
							<input type="hidden" name="role" value="@UploaderRole" />
						}
						else
						{
							<button type="submit"
									asp-action="AddToRole"
									asp-route-page="@Model.PageInfo.Current"
									asp-route-searchTerm="@Model.SearchTerm"
									class="btn btn-warning">
								No
							</button>
							<input type="hidden" name="userId" value="@user.Id" />
							<input type="hidden" name="role" value="@UploaderRole" />
						}
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>

@(await Component.InvokeAsync<PaginationComponent>(
			new { pageInfo = Model.PageInfo, searchTerm = Model.SearchTerm }))

