@model  PaginationComponentViewModel

@{
	string action = ViewContext.RouteData.Values["Action"].ToString();
}

<nav aria-label="Page navigation">
	<ul class="pagination">
		<li class="page-item @Model.PreviousDisabled">
			<a class="page-link" asp-action="@action" asp-route-searchTerm="@Model.SearchTerm" asp-route-page="@Model.Previous" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Previous</span>
			</a>
		</li>

		@*@{
			int startPage = Model.Current - 1 <= 0
				? 1
				: Model.Current - 1;

			int endPage = Model.Current + 1 >= Model.TotalPages
				? Model.TotalPages
				: Model.Current + 1;

			if (startPage == 1)
			{
				endPage = Model.TotalPages >= 3 ? 3 : Model.TotalPages;
			}

			if (endPage == Model.TotalPages && Model.Current == endPage)
			{
				startPage = startPage == 1 ? 1 : startPage - 1;
			}
		}*@

		@for (int i = Model.StartPage; i <= Model.EndPage; i++)
		{
			string active = i == Model.Current ? "active" : string.Empty;

			<li class="page-item class @active">
				<a class="page-link" asp-action="@action" asp-route-searchTerm="@Model.SearchTerm" asp-route-page="@i">@i</a>
			</li>
		}

		<li class="page-item  @Model.NextDisabled">
			<a class="page-link" asp-action="@action" asp-route-searchTerm="@Model.SearchTerm" asp-route-page="@Model.Next" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">Next</span>
			</a>
		</li>
	</ul>
</nav>
